* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

main {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}